
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


/*-----------------------------------------Font Styles */
* {
    margin: 0;
    padding: 0;
}


/*-----------------------------------------Colour */

.navbar {
    background-color: #79989a !important;
    padding: 20px;    
}

    .navbar .nav-brand {
        color: #fff;
        font-size: 30px;
         font-weight: bolder;
        letter-spacing: 4px;
        font-family: "Oswald", sans-serif;
    }

        .navbar .nav-brand:hover {
            color: #c7ccca;
        }



    .navbar .nav-link {
        color: #fff;
        font-size: 30px;
        font-weight: bolder;
        letter-spacing: 4px;
        font-family: "Oswald", sans-serif;
    }

        .navbar .nav-link:hover {
            color: #c7ccca;
        }

p .inline-block {
    color: #fafafa !important;
}
/*-------------------------------------------------------Index page */
body {
    margin: 0;
    padding: 0;
    font-family: "Lato";
    

    
}

section {
    padding: 40px;
}

h1 {
    text-align: center;
    padding: 20px 0px;
    font-size: 50px !important;
    font-family: "Oswald", sans-serif ;
    font-weight: 900;
}

h2 {
    text-align: center;
    padding: 20px 0px;
    font-size: 40px !important;
    font-weight: 900;
    font-family: "Oswald", sans-serif
}

h3 {
    text-align: center;
    font-size: 30px !important;
    font-family: "Oswald", sans-serif;
    font-weight: 900;
}
p {
    padding-left: 20px;
    text-align: left;
    font-size: 30px;

}

.img-gap img {
   /* width: 50%; */
    height: 400px;
    position: relative;
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 6px white;
    margin: 0 auto;
    max-width: 100%;
}

.img-gap {
    padding-top: 20px;
    display: block;
    text-align: center;
}

p .btn-large {
    display: inline-block;
    border-radius: 800px;
    background: #303634;
    font-weight: 400;
    color: #fff;
}

p .btn {
    font-size: 20px !important;
    font-size: 1.175rem;
    padding: 22px 35px;
}

p a:hover {
    background: black;
}


/*------------------------------------ end of index page */
/*-----------------------------------------------------About me*/

.three-section img {
    width: 300px;
    height: 150px;
    float: left;
    padding: 5px;
    text-align: center;
    display: block;
}

.icon {
    text-align: center;
    display: block;
    font-size: 80px;
    /*------circle arount icon*/
    margin: auto;
    padding-right: 12px;
    border: 2px solid black;
    background-color: #39a9ef;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.three-section h3 {
    text-align: center;
}

.three-section p {
    float: left;
    font-size: 20px;
    line-height: 1.4;
    font-weight: lighter;
    /*font-family: "Open+Sans", sans-serif;*/
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
    /*font-family: "Exo", sans-serif*/
    color: lightslategray;
}

.about-me img {
    width: 90%;
    height: 90%;
}

.about-me text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open+Sans", sans-serif;
}

.progress {
    margin-bottom: 1rem;
}
.link-me{
    background-color:white !important;
}
/*----------------------------------------------------- end of About me*/
/*-----------------------------------------------------Portfolio start*/
.portfolio-div {
    text-align: center;
}

    .portfolio-div img {
        width: 300px;
    }

    .portfolio-div h1 {
        font-size: 30px !important;
    }
.button{
    text-align:center;
    margin:0;
    display:block;
}
.hori-timeline .events {
    border-top: 3px solid #e9ecef;
}

    .hori-timeline .events .event-list {
        display: block;
        position: relative;
        text-align: center;
        padding-top: 70px;
        margin-right: 0;
    }

        .hori-timeline .events .event-list:before {
            content: "";
            position: absolute;
            height: 36px;
            border-right: 2px dashed #dee2e6;
            top: 0;
        }

        .hori-timeline .events .event-list .event-date {
            position: absolute;
            top: 38px;
            left: 0;
            right: 0;
            width: 75px;
            margin: 0 auto;
            border-radius: 4px;
            padding: 2px 4px;
        }

@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }

        .hori-timeline .events .event-list .event-date {
            top: -12px;
        }
}

.bg-soft-primary {
    background-color: rgba(64,144,203,.3) !important;
}

.bg-soft-success {
    background-color: rgba(71,189,154,.3) !important;
}

.bg-soft-danger {
    background-color: rgba(231,76,94,.3) !important;
}

.bg-soft-warning {
    background-color: rgba(249,213,112,.3) !important;
}

.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    background-color: lightgray;
}


/*-----------------------------------------------------Portfolio end*/
/*-----------------------------------------Contact */
div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.form p{
    text-align:center;
    color:black;
    font-size:15px;
}
ul {
    list-style-type: none;
}
h5{
    font-weight:900;
    font-family: "Oswald" sans-serif;
    
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group textarea {
    height: 150px;
}

input.ng-invalid.ng-touched {
    border-color: #fd27eb !important;
}

textarea.ng-invalid.ng-touched {
    border-color: #fd27eb !important;
}

.kt-font-danger {
    color: #fd27eb !important;
}

/*.contact-form-area .button-default.disabled, .contact-form-area .button-default:disabled {*/
 .contact-form-area .contact-form-area {
    color: #fff;
    background-color: #f7da9d;
    border-color: #22b9ff;
}


.contact-form-area .button-default {
    border: 0 none;
    font-family: "montserratlight";
    padding: 8px 40px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
    cursor: pointer;
}

/*-----------------------------------------Contact */
/*-----------------------------------------Footer */
footer {
    background-color: #79989a ; 
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}
.inline-block{
    color:white !important;
}
.CV-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 15px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -O-transition: all 0.35s ease-in-out;
}

    .CV-pdf i:hover {
        color: #ea4610;
    }

.social-links {
    padding-bottom: 15px;
}

    .social-links li a i {
        width: 32px;
        height: 32px;
        padding: 12px 0;
        border-radius: 50%;
        font-size: 13px;
        line-height: 7px;
        text-align: center;
        color: #fafafa;
        background: #303634;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -O-transition: all 0.35s ease-in-out;
    }

        .social-links li a i:hover {
            background: #8f8f8f;
        }

#footer-details {
    padding: 20px;
}

.button-section {
    padding: 10px;
}

.persistant {
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    width: 100%;
    z-index:10;
}
