@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/*-----------------------------------------Font Styles */
 * {
     margin: 0;
     padding: 0; 
     
}

/*body {
    background-color: #eee;
}
*/

/*-----------------------------------------Colour */

.navbar {
    background-color: #79989a !important;
    padding: 20px;
    
}

.navbar .nav-brand {
    color: #fff;
    font-size: 20px;
    font-family: "Open+Sans", sans-serif;
}

.navbar .nav-brand:hover {
    color:  #c7ccca;
}



.navbar .nav-link {
    color: #fff;
    font-size: 20px;
    font-family: "Open+Sans", sans-serif;
}

.navbar .nav-link:hover {
    color:  #c7ccca;

}

/*-----------------------------------------------------Icons*/

.three-section img {
    width: 300px;
    height: 150px;
    float: left;
    padding: 5px;
    text-align: center;
    display: block;
}

.icon {
    text-align: center;
    display: block;

}

.three-section h3 {
    text-align: center;

}

.three-section p {
    float: left;
    font-size: 20px;
    line-height: 1.4;
    font-weight: lighter;
     font-family: "Open+Sans", sans-serif;
    
    text-align: justify;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
    font-weight: lighter;
    font-family: "Open+Sans", sans-serif;
    color: lightslategray;

}

.about-me img {
    width: 90%;
    height: 90%;
}

.about-me text {
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: "Open+Sans", sans-serif;
}


    
/*-----------------------------------------Footer */


footer{
    background-color: #79989a;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
  
}

.CV-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 15px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -O-transition: all 0.35s ease-in-out;    
}

.CV-pdf i:hover {
    color: #ea4610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #303634;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -O-transition: all 0.35s ease-in-out;    
}

.social-links li a i:hover {
    background: #8f8f8f;

}

#footer-details {
    padding: 20px;
}


